@import "./base.css";
@import "tailwindcss";
@import "flowbite/dist/flowbite.min.css";

/* Define unique font-family names for each font */
@font-face {
  font-family: "Cookiemonster";
  src: url("@/assets/fonts/Cookiemonster.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FreshPalm";
  src: url("@/assets/fonts/Fresh Palm.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KeeponTruckin";
  src: url("@/assets/fonts/KeeponTruckin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Define utility classes for each font */
.cookie-font {
  font-family: "Cookiemonster", sans-serif;
}

.Palm-font {
  font-family: "FreshPalm", sans-serif;
}

.Truckin-font {
  font-family: "KeeponTruckin", sans-serif;
}

.LastDream-font {
  font-family: "KeeponTruckin", sans-serif; /* Update if this should use a different font */
}
